<table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Unit price</th>
      <th scope="col">Number in stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempProduct of products">
      <td class="align-middle">
        <img src="{{ tempProduct.imageUrl }}" height="50">
      </td>
      <td class="align-middle">{{ tempProduct.name }}</td>
      <td class="align-middle">{{ tempProduct.description }}</td>
      <td class="align-middle">{{ tempProduct.unitPrice | currency: 'USD'}}</td>
      <td class="align-middle">{{ tempProduct.unitsInStock }}</td>
    </tr>
  </tbody>
</table>

